*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

header{
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main{
    background-color: cyan;
    grid-column: 2/3;
}

aside{
    background-color:dodgerblue;
    color: white;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 1/3;

}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    padding-left: 30px;
}

.nav-bar ul li a{
    color: white;
    text-decoration: none;
}

.title{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

header div{
    /*border: solid black;*/
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

header form{
    /*border: solid black;*/
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.search-bar{
    width:50%;
}

.search-bar button{
    border-radius: 50%;
    border: none;
    margin-left: 8px;
}

.search-bar button img:active{
    background-color: rgba(17, 15, 15, 0.096);
    border: solid black 1px;
}

.search-bar button img{
    border-radius: 50%;
    position: relative;
    top: 2px;
}

.search-bar input{
    padding: 5px;
    border: none;
    border-radius: 12px;
    background-color: lightgrey;
}

.profile{
    width: 35%;
    justify-content: flex-end;
    padding-right: 10px;
}

.profile img{
    padding-right: 8px;
}

.welcome-message-text{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 0;
}

.welcome-message-text :nth-child(1){
    font-size: 12px;
}

.welcome-message-text :nth-child(2){
    font-size: 16px;
    font-weight: bold;
}